openapi: 3.1.0
info:
  title: Quinyx Absence Schedules Absence Types API
  version: v2
  x-service: absence-schedule
  description: null
servers:
- url: https://api.quinyx.com
  description: Production API
- url: https://api-rc.quinyx.com
  description: RC API
tags:
- name: Absence Types
  x-displayName: Absence Types
paths:
  /v2/absence-types/groups/{groupId}/employees/{employeeId}:
    get:
      tags:
      - Absence Types
      summary: List absence types for group and employee in period
      operationId: getAbsenceTypesForEmployee
      parameters:
      - name: groupId
        in: path
        description: ID of the domain group. Any other group type (e.g. district, unit or section) is rejected with a 400 error.
        required: true
        schema:
          type: integer
          format: int32
        example: 170300
      - name: employeeId
        in: path
        description: ID of the employee
        required: true
        schema:
          type: integer
          format: int32
        example: 608414
      - name: start
        in: query
        description: Start date of the period (yyyy-MM-dd)
        required: true
        schema:
          type: string
          format: date
        example: '2026-07-01'
      - name: end
        in: query
        description: End date of the period (yyyy-MM-dd)
        required: true
        schema:
          type: string
          format: date
        example: '2026-07-31'
      responses:
        '200':
          description: Response where you see the absence types for group and employee in period
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/absence-types_IntegrationAbsenceType'
        '400':
          description: 'In case you send groupId which is not domain groupId.

            Or if any of groupId, employeeId, start, end is invalid.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/absence-types_ValidationError'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      x-audience: public
components:
  schemas:
    absence-types_ValidationError:
      type: object
      properties:
        field:
          type: string
          example: externalValue
        message:
          type: string
          example: must not be blank
        severity:
          type: string
          example: ERROR
        localisedMessage:
          type: string
          example: External value must not be blank
        groupingMessage:
          type: string
          example: validation
        additionalErrorParameters:
          type: object
          additionalProperties: {}
    absence-types_IntegrationAbsenceType:
      type: object
      properties:
        absenceTypeId:
          type: integer
          format: int32
          example: 1
        absenceTypeName:
          type: string
          example: Sick leave
        absenceScheduleId:
          type: integer
          format: int32
          example: 10
        shiftAction:
          type: string
          enum:
          - UNASSIGN
          - DELETE
          example: UNASSIGN
  securitySchemes:
    employee_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes:
            hr:employees:create: ''
            hr:employees:delete: ''
            hr:employees:read: ''
            hr:employees:update: ''
    opening-hours_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes: {}
    organisation_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes:
            organization:groups:create: ''
            organization:groups:delete: ''
            organization:groups:read: ''
            organization:groups:update: ''
    rest-api-uaa_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes: {}
    schedule-availability_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes: {}
    schedule_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes: {}
    statistics_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes: {}
