openapi: 3.1.0
info:
  title: Quinyx Absence Schedules Employee API
  version: v2
  x-service: absence-schedule
  description: null
servers:
- url: https://api.quinyx.com
  description: Production API
- url: https://api-rc.quinyx.com
  description: RC API
tags:
- name: Employee
paths:
  /hr/v3/employees/{id}:
    get:
      tags:
      - Employee
      summary: Get an employee
      description: Retrieves a single employee by its identifier.
      operationId: getEmployee
      parameters:
      - name: id
        in: path
        description: Employee identifier
        required: true
        schema:
          description: An identifier that can be either a Quinyx ID or a prefixed external ID string.
          oneOf:
          - type: string
            description: The Quinyx ID of the resource.
            pattern: ^[0-9]+$
          - type: string
            description: The external string ID, which must start with 'badgeNumber:'.
            example: badgeNumber:1234
            pattern: ^badgeNumber:[a-zA-Z0-9._-]{1,64}$
        examples:
          internal-id:
            summary: Internal ID
            description: The internal ID of the resource
            value: '12345'
          badge-number:
            summary: Badge number
            description: Badge number prefixed with 'badgeNumber:', 1-64 characters long, consisting of alphanumerics and . _ -
            value: badgeNumber:B001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee_IntegrationEmployeeResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/employee_ProblemDetail'
                - $ref: '#/components/schemas/employee_ValidationError'
              examples:
                badRequestProblemDetail:
                  summary: Bad request
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/bad-request
                    title: Bad Request
                    status: 400
                    detail: The request is invalid or malformed
                    instance: /hr/v3/employees/{id}
                badRequestValidationError:
                  summary: Bad request
                  description: Example ValidationError response
                  value:
                    type: https://developer.quinyx.com/api/problems/bad-request
                    title: Bad Request
                    status: 400
                    errors:
                    - detail: name is mandatory
                      pointer: '#/name'
                    instance: /hr/v3/employees/{id}
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                unauthorized:
                  summary: Unauthorized
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/unauthorized
                    title: Unauthorized
                    status: 401
                    detail: Access token not set or invalid, and the requested resource could not be returned
                    instance: /hr/v3/employees/{id}
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                forbidden:
                  summary: Forbidden
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: The resource could not be returned as the requestor is not authorized
                    instance: /hr/v3/employees/{id}
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                notFound:
                  summary: Not found
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/not-found
                    title: Not Found
                    status: 404
                    detail: The requested resource was not found
                    instance: /hr/v3/employees/{id}
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                serverError:
                  summary: Server error
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/server-error
                    title: Server Error
                    status: 500
                    detail: The server encountered an unexpected error
                    instance: /hr/v3/employees/{id}
      security:
      - OAuth2ClientCredentials:
        - hr:employees:read
      x-audience: public
      x-resource-group: HR
      x-resource: Employee
    put:
      tags:
      - Employee
      summary: Update an employee
      description: Updates the specified employee with the provided attributes and returns it
      operationId: updateEmployee
      parameters:
      - name: id
        in: path
        description: Employee identifier
        required: true
        schema:
          description: An identifier that can be either a Quinyx ID or a prefixed external ID string.
          oneOf:
          - type: string
            description: The Quinyx ID of the resource.
            pattern: ^[0-9]+$
          - type: string
            description: The external string ID, which must start with 'badgeNumber:'.
            example: badgeNumber:1234
            pattern: ^badgeNumber:[a-zA-Z0-9._-]{1,64}$
        examples:
          internal-id:
            summary: Internal ID
            description: The internal ID of the resource
            value: '12345'
          badge-number:
            summary: Badge number
            description: Badge number prefixed with 'badgeNumber:', 1-64 characters long, consisting of alphanumerics and . _ -
            value: badgeNumber:B001
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee_IntegrationEmployeeUpdateRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee_IntegrationEmployeeResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/employee_ProblemDetail'
                - $ref: '#/components/schemas/employee_ValidationError'
              examples:
                badRequestProblemDetail:
                  summary: Bad request
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/bad-request
                    title: Bad Request
                    status: 400
                    detail: The request is invalid or malformed
                    instance: /hr/v3/employees/{id}
                badRequestValidationError:
                  summary: Bad request
                  description: Example ValidationError response
                  value:
                    type: https://developer.quinyx.com/api/problems/bad-request
                    title: Bad Request
                    status: 400
                    errors:
                    - detail: name is mandatory
                      pointer: '#/name'
                    instance: /hr/v3/employees/{id}
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                unauthorized:
                  summary: Unauthorized
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/unauthorized
                    title: Unauthorized
                    status: 401
                    detail: Access token not set or invalid, and the requested resource could not be returned
                    instance: /hr/v3/employees/{id}
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                forbidden:
                  summary: Forbidden
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: The resource could not be returned as the requestor is not authorized
                    instance: /hr/v3/employees/{id}
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                notFound:
                  summary: Not found
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/not-found
                    title: Not Found
                    status: 404
                    detail: The requested resource was not found
                    instance: /hr/v3/employees/{id}
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                serverError:
                  summary: Server error
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/server-error
                    title: Server Error
                    status: 500
                    detail: The server encountered an unexpected error
                    instance: /hr/v3/employees/{id}
      security:
      - OAuth2ClientCredentials:
        - hr:employees:update
      x-audience: public
      x-resource-group: HR
      x-resource: Employee
    delete:
      tags:
      - Employee
      summary: Delete an employee
      description: Permanently deletes an employee
      operationId: deleteEmployee
      parameters:
      - name: id
        in: path
        description: Employee identifier
        required: true
        schema:
          description: An identifier that can be either a Quinyx ID or a prefixed external ID string.
          oneOf:
          - type: string
            description: The Quinyx ID of the resource.
            pattern: ^[0-9]+$
          - type: string
            description: The external string ID, which must start with 'badgeNumber:'.
            example: badgeNumber:1234
            pattern: ^badgeNumber:[a-zA-Z0-9._-]{1,64}$
        examples:
          internal-id:
            summary: Internal ID
            description: The internal ID of the resource
            value: '12345'
          badge-number:
            summary: Badge number
            description: Badge number prefixed with 'badgeNumber:', 1-64 characters long, consisting of alphanumerics and . _ -
            value: badgeNumber:B001
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                unauthorized:
                  summary: Unauthorized
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/unauthorized
                    title: Unauthorized
                    status: 401
                    detail: Access token not set or invalid, and the requested resource could not be returned
                    instance: /hr/v3/employees/{id}
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                forbidden:
                  summary: Forbidden
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: The resource could not be returned as the requestor is not authorized
                    instance: /hr/v3/employees/{id}
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                notFound:
                  summary: Not found
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/not-found
                    title: Not Found
                    status: 404
                    detail: The requested resource was not found
                    instance: /hr/v3/employees/{id}
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                serverError:
                  summary: Server error
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/server-error
                    title: Server Error
                    status: 500
                    detail: The server encountered an unexpected error
                    instance: /hr/v3/employees/{id}
      security:
      - OAuth2ClientCredentials:
        - hr:employees:delete
      x-audience: public
      x-resource-group: HR
      x-resource: Employee
    patch:
      tags:
      - Employee
      summary: Partially update an employee
      description: Partially updates the specified employee with the provided attributes and returns it.
      operationId: patchEmployee
      parameters:
      - name: id
        in: path
        description: Employee identifier
        required: true
        schema:
          description: An identifier that can be either a Quinyx ID or a prefixed external ID string.
          oneOf:
          - type: string
            description: The Quinyx ID of the resource.
            pattern: ^[0-9]+$
          - type: string
            description: The external string ID, which must start with 'badgeNumber:'.
            example: badgeNumber:1234
            pattern: ^badgeNumber:[a-zA-Z0-9._-]{1,64}$
        examples:
          internal-id:
            summary: Internal ID
            description: The internal ID of the resource
            value: '12345'
          badge-number:
            summary: Badge number
            description: Badge number prefixed with 'badgeNumber:', 1-64 characters long, consisting of alphanumerics and . _ -
            value: badgeNumber:B001
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee_IntegrationEmployeePatchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee_IntegrationEmployeeResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/employee_ProblemDetail'
                - $ref: '#/components/schemas/employee_ValidationError'
              examples:
                badRequestProblemDetail:
                  summary: Bad request
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/bad-request
                    title: Bad Request
                    status: 400
                    detail: The request is invalid or malformed
                    instance: /hr/v3/employees/{id}
                badRequestValidationError:
                  summary: Bad request
                  description: Example ValidationError response
                  value:
                    type: https://developer.quinyx.com/api/problems/bad-request
                    title: Bad Request
                    status: 400
                    errors:
                    - detail: name is mandatory
                      pointer: '#/name'
                    instance: /hr/v3/employees/{id}
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                unauthorized:
                  summary: Unauthorized
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/unauthorized
                    title: Unauthorized
                    status: 401
                    detail: Access token not set or invalid, and the requested resource could not be returned
                    instance: /hr/v3/employees/{id}
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                forbidden:
                  summary: Forbidden
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: The resource could not be returned as the requestor is not authorized
                    instance: /hr/v3/employees/{id}
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                notFound:
                  summary: Not found
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/not-found
                    title: Not Found
                    status: 404
                    detail: The requested resource was not found
                    instance: /hr/v3/employees/{id}
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                serverError:
                  summary: Server error
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/server-error
                    title: Server Error
                    status: 500
                    detail: The server encountered an unexpected error
                    instance: /hr/v3/employees/{id}
      security:
      - OAuth2ClientCredentials:
        - hr:employees:update
      x-audience: public
      x-resource-group: HR
      x-resource: Employee
  /hr/v3/employees:
    get:
      tags:
      - Employee
      summary: List employees
      description: Returns a paginated list of employees.
      operationId: getEmployees
      parameters:
      - name: idIn
        in: query
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
          maxItems: 50
      - name: pageToken
        in: query
        description: Cursor for the next page of results.
        required: false
        schema:
          type: string
          example: eyJpZCI6MTAwfQ
      - name: pageSize
        in: query
        description: Maximum number of items to return.
        required: false
        schema:
          type: integer
          format: int32
          default: 50
          example: 50
          maximum: 100
          minimum: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee_CursorPageIntegrationEmployeeResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/employee_ProblemDetail'
                - $ref: '#/components/schemas/employee_ValidationError'
              examples:
                badRequestProblemDetail:
                  summary: Bad request
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/bad-request
                    title: Bad Request
                    status: 400
                    detail: The request is invalid or malformed
                    instance: /hr/v3/employees
                badRequestValidationError:
                  summary: Bad request
                  description: Example ValidationError response
                  value:
                    type: https://developer.quinyx.com/api/problems/bad-request
                    title: Bad Request
                    status: 400
                    errors:
                    - detail: name is mandatory
                      pointer: '#/name'
                    instance: /hr/v3/employees
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                unauthorized:
                  summary: Unauthorized
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/unauthorized
                    title: Unauthorized
                    status: 401
                    detail: Access token not set or invalid, and the requested resource could not be returned
                    instance: /hr/v3/employees
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                forbidden:
                  summary: Forbidden
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: The resource could not be returned as the requestor is not authorized
                    instance: /hr/v3/employees
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                serverError:
                  summary: Server error
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/server-error
                    title: Server Error
                    status: 500
                    detail: The server encountered an unexpected error
                    instance: /hr/v3/employees
      security:
      - OAuth2ClientCredentials:
        - hr:employees:read
      x-audience: public
      x-resource-group: HR
      x-resource: Employee
    post:
      tags:
      - Employee
      summary: Create an employee
      description: Creates and returns the created employee.
      operationId: createEmployee
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/employee_IntegrationEmployeeCreateRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/employee_IntegrationEmployeeResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/employee_ProblemDetail'
                - $ref: '#/components/schemas/employee_ValidationError'
              examples:
                badRequestProblemDetail:
                  summary: Bad request
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/bad-request
                    title: Bad Request
                    status: 400
                    detail: The request is invalid or malformed
                    instance: /hr/v3/employees
                badRequestValidationError:
                  summary: Bad request
                  description: Example ValidationError response
                  value:
                    type: https://developer.quinyx.com/api/problems/bad-request
                    title: Bad Request
                    status: 400
                    errors:
                    - detail: name is mandatory
                      pointer: '#/name'
                    instance: /hr/v3/employees
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                unauthorized:
                  summary: Unauthorized
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/unauthorized
                    title: Unauthorized
                    status: 401
                    detail: Access token not set or invalid, and the requested resource could not be returned
                    instance: /hr/v3/employees
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                forbidden:
                  summary: Forbidden
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/forbidden
                    title: Forbidden
                    status: 403
                    detail: The resource could not be returned as the requestor is not authorized
                    instance: /hr/v3/employees
        '500':
          description: Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/employee_ProblemDetail'
              examples:
                serverError:
                  summary: Server error
                  description: Example ProblemDetail response
                  value:
                    type: https://developer.quinyx.com/api/problems/server-error
                    title: Server Error
                    status: 500
                    detail: The server encountered an unexpected error
                    instance: /hr/v3/employees
      security:
      - OAuth2ClientCredentials:
        - hr:employees:create
      x-audience: public
      x-resource-group: HR
      x-resource: Employee
components:
  schemas:
    employee_UpdateEmergencyContact:
      type: object
      properties:
        nextOfKinName:
          type: string
          description: Name of the employee's next of kin
          example: John Doe
          maxLength: 50
          minLength: 0
        nextOfKinPhone:
          type: string
          description: Phone number of the employee's next of kin
          example: '+46700000000'
          maxLength: 20
          minLength: 0
        legalGuardianName:
          type: string
          description: Name of the employee's legal guardian
          example: Jane Doe
          maxLength: 50
          minLength: 0
        legalGuardianEmail:
          type: string
          description: Email address of the employee's legal guardian
          example: guardian@example.com
          maxLength: 50
          minLength: 0
      required:
      - legalGuardianEmail
      - legalGuardianName
      - nextOfKinName
      - nextOfKinPhone
    employee_CursorPaginationInfo:
      type: object
      description: Pagination information for cursor-based pagination.
      properties:
        nextPageToken:
          type: string
          description: The token for the next page
          example: eyJpZCI6MTIwfQ
        previousPageToken:
          type: string
          description: The token for the previous page
          example: eyJpZCI6ODB9
    employee_IntegrationEmployeeCreateRequest:
      type: object
      properties:
        badgeNumber:
          type: string
          description: Unique badge number identifying the employee
          example: '001'
          maxLength: 20
          minLength: 0
        email:
          type: string
          format: email
          description: Employee email address
          example: employee@example.com
          maxLength: 255
          minLength: 0
        personalInformation:
          $ref: '#/components/schemas/employee_CreatePersonalInformation'
        contactInformation:
          $ref: '#/components/schemas/employee_ContactInformation'
        address:
          $ref: '#/components/schemas/employee_Address'
        employment:
          $ref: '#/components/schemas/employee_CreateEmployment'
        emergencyContact:
          $ref: '#/components/schemas/employee_EmergencyContact'
        punchSettings:
          $ref: '#/components/schemas/employee_PunchSettings'
      required:
      - badgeNumber
      - email
      - employment
      - personalInformation
    employee_Address:
      type: object
      properties:
        address1:
          type: string
          description: Primary address line
          example: 123 Example Street
          maxLength: 50
          minLength: 0
        address2:
          type: string
          description: Secondary address line
          example: Apt 1
          maxLength: 50
          minLength: 0
        zip:
          type: string
          description: Postal or ZIP code
          example: SE-10000
          maxLength: 20
          minLength: 0
        city:
          type: string
          description: City of residence
          example: Stockholm
          maxLength: 50
          minLength: 0
        country:
          type: string
          description: Country of residence
          example: Sweden
          maxLength: 50
          minLength: 0
    employee_Employment:
      type: object
      properties:
        homeGroupId:
          type: string
          description: ID of the employee's home group
          example: '123'
        staffCategoryId:
          type: string
          description: ID of the staff category assigned to the employee
          example: '123'
        passive:
          type: boolean
          description: Whether the employee is passive
          example: false
        locked:
          type: string
          description: Lock status of the employee account
          enum:
          - NOT_LOCKED
          - LOCKED_BY_MANAGER
          - LOCKED_BY_SYSTEM
          example: NOT_LOCKED
        employmentStartDate:
          type: string
          format: date
          description: Date when the employment started
          example: '2020-01-01'
        industryStartDate:
          type: string
          format: date
          description: Date when the employee started working in the industry
          example: '2015-01-01'
        managerId:
          type: string
          description: ID of the employee's manager
          example: '1234'
        employmentEndDate:
          type: string
          format: date
          description: Date when the employment ends, if applicable
          example: '2025-12-31'
        costCentreId:
          type: string
          description: Cost centre ID
          example: '1234'
    employee_CreateEmployment:
      type: object
      properties:
        homeGroupId:
          type: string
          description: ID of the employee's home group
          example: '123'
          minLength: 1
        staffCategoryId:
          type: string
          description: ID of the staff category assigned to the employee
          example: '123'
        managerId:
          type: string
          description: ID of the employee's manager
          example: '1234'
        passive:
          type: boolean
          description: Whether the employee is passive
          example: false
        locked:
          type: string
          description: Lock status of the employee account
          enum:
          - NOT_LOCKED
          - LOCKED_BY_MANAGER
          - LOCKED_BY_SYSTEM
          example: NOT_LOCKED
        employmentStartDate:
          type: string
          format: date
          description: Date when the employment started
          example: '2020-01-01'
        employmentEndDate:
          type: string
          format: date
          description: Date when the employment ends, if applicable
          example: '2025-12-31'
        industryStartDate:
          type: string
          format: date
          description: Date when the employee started working in the industry
          example: '2015-01-01'
        costCentreId:
          type: string
          description: Cost centre ID
          example: '1234'
      required:
      - employmentStartDate
      - homeGroupId
    employee_ValidationErrorDetail:
      type: object
      description: A single validation error.
      properties:
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: name is mandatory
        pointer:
          type: string
          description: A JSON Pointer [RFC6901] to the associated entity in the request body.
          example: '#/name'
    employee_UpdateContactInformation:
      type: object
      properties:
        mobileNumber:
          type: string
          description: Employee's mobile phone number
          example: '+46700000000'
          maxLength: 20
          minLength: 0
        phoneNumber:
          type: string
          description: Employee's work phone number
          example: '+46800000000'
          maxLength: 20
          minLength: 0
      required:
      - mobileNumber
      - phoneNumber
    employee_UpdatePersonalInformation:
      type: object
      properties:
        firstName:
          type: string
          description: Employee's first name
          example: John
          maxLength: 40
          minLength: 0
        lastName:
          type: string
          description: Employee's last name
          example: Doe
          maxLength: 40
          minLength: 0
        dateOfBirth:
          type: string
          format: date
          description: 'Employee''s date of birth '
          example: '1990-01-01'
        gender:
          type: string
          description: Employee's gender
          enum:
          - MALE
          - FEMALE
          - OTHER
          - NOT_SPECIFIED
          example: MALE
        socialSecurityNumber:
          type: string
          description: 'Employee''s social security number '
          example: 000000-0000
        pictureURL:
          type: string
          description: URL to the employee's profile picture
          example: https://example.com/pictures/placeholder.jpg
      required:
      - dateOfBirth
      - firstName
      - gender
      - lastName
      - pictureURL
      - socialSecurityNumber
    employee_ValidationError:
      type: object
      description: Validation errors, conforming to RFC 9457.
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://developer.quinyx.com/api/problems/validation-error
        title:
          type: string
          description: A short, human-readable summary of the problem type.
          example: The request is not valid.
        status:
          type: integer
          format: int32
          description: The HTTP status code
          example: 422
        errors:
          type: array
          description: A list of validation errors.
          items:
            $ref: '#/components/schemas/employee_ValidationErrorDetail'
          maxItems: 50
          minItems: 1
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem.
          example: /api/endpoint
      required:
      - errors
      - status
      - title
      - type
      title: ValidationError
    employee_EmergencyContact:
      type: object
      properties:
        nextOfKinName:
          type: string
          description: Name of the employee's next of kin
          example: John Doe
          maxLength: 50
          minLength: 0
        nextOfKinPhone:
          type: string
          description: Phone number of the employee's next of kin
          example: '+46700000000'
          maxLength: 20
          minLength: 0
        legalGuardianName:
          type: string
          description: Name of the employee's legal guardian
          example: Jane Doe
          maxLength: 50
          minLength: 0
        legalGuardianEmail:
          type: string
          description: Email address of the employee's legal guardian
          example: guardian@example.com
          maxLength: 50
          minLength: 0
    employee_CursorPageIntegrationEmployeeResponse:
      type: object
      description: A page of data along with pagination information for cursor-based pagination.
      properties:
        data:
          type: array
          description: The data in the page.
          items:
            $ref: '#/components/schemas/employee_IntegrationEmployeeResponse'
          maxItems: 100
        pagination:
          $ref: '#/components/schemas/employee_CursorPaginationInfo'
    employee_UpdatePunchSettings:
      type: object
      properties:
        allowAttestOfOwnPunches:
          type: boolean
          description: Whether the employee is allowed to attest their own time punches
          example: false
      required:
      - allowAttestOfOwnPunches
    employee_CreatePersonalInformation:
      type: object
      properties:
        firstName:
          type: string
          description: Employee's first name
          example: John
          maxLength: 40
          minLength: 0
        lastName:
          type: string
          description: Employee's last name
          example: Doe
          maxLength: 40
          minLength: 0
        dateOfBirth:
          type: string
          format: date
          description: Employee's date of birth
          example: '1990-01-01'
        gender:
          type: string
          description: Employee's gender
          enum:
          - MALE
          - FEMALE
          - OTHER
          - NOT_SPECIFIED
          example: MALE
        socialSecurityNumber:
          type: string
          description: Employee's social security number
          example: 000000-0000
        pictureURL:
          type: string
          description: URL to the employee's profile picture
          example: https://example.com/pictures/placeholder.jpg
      required:
      - firstName
      - lastName
    employee_PersonalInformation:
      type: object
      properties:
        firstName:
          type: string
          description: Employee's first name
          example: John
          maxLength: 40
          minLength: 0
        lastName:
          type: string
          description: Employee's last name
          example: Doe
          maxLength: 40
          minLength: 0
        dateOfBirth:
          type: string
          format: date
          description: Employee's date of birth
          example: '1990-01-01'
        gender:
          type: string
          description: Employee's gender
          enum:
          - MALE
          - FEMALE
          - OTHER
          - NOT_SPECIFIED
          example: MALE
        socialSecurityNumber:
          type: string
          description: Employee's social security number
          example: 000000-0000
        pictureURL:
          type: string
          description: URL to the employee's profile picture
          example: https://example.com/pictures/placeholder.jpg
    employee_PunchSettings:
      type: object
      properties:
        allowAttestOfOwnPunches:
          type: boolean
          description: Whether the employee is allowed to attest their own time punches
          example: false
    employee_UpdateEmployment:
      type: object
      properties:
        homeGroupId:
          type: string
          description: ID of the employee's home group
          example: '123'
          minLength: 1
        staffCategoryId:
          type: string
          description: ID of the staff category assigned to the employee
          example: '123'
        managerId:
          type: string
          description: ID of the employee's manager
          example: '1234'
        passive:
          type: boolean
          description: Whether the employee is passive
          example: false
        locked:
          type: string
          description: Lock status of the employee account
          enum:
          - NOT_LOCKED
          - LOCKED_BY_MANAGER
          - LOCKED_BY_SYSTEM
          example: NOT_LOCKED
        employmentStartDate:
          type: string
          format: date
          description: Date when the employment started
          example: '2020-01-01'
        employmentEndDate:
          type:
          - string
          - 'null'
          format: date
          description: Date when the employment ends, or `null` if employed indefinitely
          example: '2025-12-31'
        industryStartDate:
          type: string
          format: date
          description: Date when the employee started working in the industry
          example: '2015-01-01'
        costCentreId:
          type: string
          description: Cost centre ID
          example: '1234'
      required:
      - employmentStartDate
      - homeGroupId
      - industryStartDate
      - locked
      - passive
      - staffCategoryId
    employee_UpdateAddress:
      type: object
      properties:
        address1:
          type: string
          description: Primary address line
          example: 123 Example Street
          maxLength: 50
          minLength: 0
        address2:
          type: string
          description: Secondary address line
          example: Apt 1
          maxLength: 50
          minLength: 0
        zip:
          type: string
          description: Postal or ZIP code
          example: SE-10000
          maxLength: 20
          minLength: 0
        city:
          type: string
          description: City of residence
          example: Stockholm
          maxLength: 50
          minLength: 0
        country:
          type: string
          description: Country of residence
          example: Sweden
          maxLength: 50
          minLength: 0
      required:
      - address1
      - address2
      - city
      - country
      - zip
    employee_IntegrationEmployeeUpdateRequest:
      type: object
      properties:
        badgeNumber:
          type: string
          description: Unique badge number identifying the employee
          example: '001'
          maxLength: 20
          minLength: 0
        email:
          type: string
          format: email
          description: Employee email address
          example: employee@example.com
          maxLength: 255
          minLength: 0
        personalInformation:
          $ref: '#/components/schemas/employee_UpdatePersonalInformation'
        contactInformation:
          $ref: '#/components/schemas/employee_UpdateContactInformation'
        address:
          $ref: '#/components/schemas/employee_UpdateAddress'
        employment:
          $ref: '#/components/schemas/employee_UpdateEmployment'
        emergencyContact:
          $ref: '#/components/schemas/employee_UpdateEmergencyContact'
        punchSettings:
          $ref: '#/components/schemas/employee_UpdatePunchSettings'
      required:
      - address
      - badgeNumber
      - contactInformation
      - email
      - emergencyContact
      - employment
      - personalInformation
      - punchSettings
    employee_ContactInformation:
      type: object
      properties:
        mobileNumber:
          type: string
          description: Employee's mobile phone number
          example: '+46700000000'
          maxLength: 20
          minLength: 0
        phoneNumber:
          type: string
          description: Employee's work phone number
          example: '+46800000000'
          maxLength: 20
          minLength: 0
    employee_IntegrationEmployeePatchRequest:
      type: object
      properties:
        badgeNumber:
          type: string
          description: Unique badge number identifying the employee
          example: '001'
          maxLength: 20
          minLength: 0
        email:
          type: string
          format: email
          description: Employee email address
          example: employee@example.com
          maxLength: 255
          minLength: 0
        personalInformation:
          $ref: '#/components/schemas/employee_PersonalInformation'
        contactInformation:
          $ref: '#/components/schemas/employee_ContactInformation'
        address:
          $ref: '#/components/schemas/employee_Address'
        employment:
          $ref: '#/components/schemas/employee_Employment'
        emergencyContact:
          $ref: '#/components/schemas/employee_EmergencyContact'
        punchSettings:
          $ref: '#/components/schemas/employee_PunchSettings'
    employee_IntegrationEmployeeResponse:
      type: object
      properties:
        id:
          type: string
          description: Internal employee ID, assigned by the system
          example: '12345'
          readOnly: true
        badgeNumber:
          type: string
          description: Unique badge number identifying the employee
          example: '001'
          maxLength: 20
          minLength: 0
        email:
          type: string
          format: email
          description: Employee email address
          example: employee@example.com
          maxLength: 255
          minLength: 0
        personalInformation:
          $ref: '#/components/schemas/employee_PersonalInformation'
        contactInformation:
          $ref: '#/components/schemas/employee_ContactInformation'
        address:
          $ref: '#/components/schemas/employee_Address'
        employment:
          $ref: '#/components/schemas/employee_Employment'
        emergencyContact:
          $ref: '#/components/schemas/employee_EmergencyContact'
        punchSettings:
          $ref: '#/components/schemas/employee_PunchSettings'
        updated:
          type: string
          format: date-time
          description: Timestamp of the last update to the employee record
          example: '2024-06-01T10:00:00Z'
          readOnly: true
        created:
          type: string
          format: date-time
          description: Timestamp when the employee record was created
          example: '2024-06-01T10:00:00Z'
          readOnly: true
    employee_ProblemDetail:
      type: object
      description: RFC 9457 Problem Details for HTTP APIs
      properties:
        type:
          type: string
          description: A URI reference that identifies the problem type
          example: https://developer.quinyx.com/api/problems/error-type
        title:
          type: string
          description: A short, human-readable summary of the problem type
          example: Error Title
        status:
          type: integer
          format: int32
          description: The HTTP status code
          example: 404
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem
          example: A detailed explanation of the error
        instance:
          type: string
          description: A URI reference that identifies the specific occurrence of the problem
          example: /api/endpoint
      required:
      - status
      - title
      - type
      title: ProblemDetail
  securitySchemes:
    employee_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes:
            hr:employees:create: ''
            hr:employees:delete: ''
            hr:employees:read: ''
            hr:employees:update: ''
    opening-hours_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes: {}
    organisation_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes:
            organization:groups:create: ''
            organization:groups:delete: ''
            organization:groups:read: ''
            organization:groups:update: ''
    rest-api-uaa_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes: {}
    schedule-availability_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes: {}
    schedule_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes: {}
    statistics_OAuth2ClientCredentials:
      type: oauth2
      description: OAuth2 Client Credentials flow. See https://developer.quinyx.com/api/authentication
      flows:
        clientCredentials:
          tokenUrl: /oauth/v3/token
          scopes: {}
