openapi: 3.2.0
info:
  title: Quinyx User Shifts API
  version: v2
  x-service: userapi
  description: 'The Quinyx User API exposes per-employee data — upcoming and

    unassigned shifts, leave applications, leave reasons, and

    leave-application managers — to authenticated end users. It

    uses an OAuth 2.0 password grant with the employee''s own

    Quinyx credentials and is intentionally separate from the

    customer/integration-level Quinyx API.

    '
servers:
- url: https://user-api.quinyx.com/v2
  description: Production API
- url: https://user-api-rc.quinyx.com/v2
  description: RC API
tags:
- name: Shifts
paths:
  /users/shifts:
    get:
      tags:
      - Shifts
      summary: Returns upcoming or unassigned shifts
      description: Get employee upcoming or unassigned shifts, starting from today
      operationId: ceca41a5670c40c386064b4879ab3eb2
      parameters:
      - name: filter
        in: query
        description: Choose upcoming or unassigned shifts
        required: true
        schema:
          type: string
          enum:
          - upcoming
          - unassigned
      responses:
        '200':
          description: All shifts are sorted by the start time in ascending order (limited to 20 shifts, in published period, up to 90 days in the future)
          content:
            application/json:
              schema:
                properties:
                  shifts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Shift'
                type: object
        '400':
          description: When invalid filter is applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidShiftFilter'
      security:
      - BearerAuth: []
      x-audience: public
components:
  schemas:
    Break:
      description: Shift Break Model
      properties:
        start:
          type: string
          example: '2019-02-01 11:30:00'
        end:
          type: string
          example: '2019-02-01 12:30:00'
      type: object
    Shift:
      description: Shift Model
      properties:
        id:
          type: string
          example: fQRK0r5s9S4dXwRa_u5vjIKfHzBhzO9wpCjJ583dRX6.oxr63g--
        employeeName:
          type: string
          example: John Doe
        from:
          type: string
          example: '2019-02-01 09:00:00'
        to:
          type: string
          example: '2019-02-01 17:00:00'
        shiftType:
          type: string
          example: Day Shift
        unit:
          type: string
          example: Unit name
        section:
          type: string
          example: Section name
        breaksDuration:
          type: integer
          example: 60
        breaks:
          type: array
          items:
            $ref: '#/components/schemas/Break'
      type: object
    InvalidShiftFilter:
      properties:
        err:
          properties:
            code:
              type: integer
              example: 400
            msg:
              type: string
              example: 'INVALID_FILTER, MUST BE ONE OF: upcoming, unassigned'
          type: object
      type: object
  securitySchemes:
    BearerAuth:
      type: apiKey
      in: header
      name: Authorization
