openapi: 3.2.0
info:
  title: Quinyx User Leave Reasons API
  version: v2
  x-service: userapi
  description: 'The Quinyx User API exposes per-employee data — upcoming and

    unassigned shifts, leave applications, leave reasons, and

    leave-application managers — to authenticated end users. It

    uses an OAuth 2.0 password grant with the employee''s own

    Quinyx credentials and is intentionally separate from the

    customer/integration-level Quinyx API.'
servers:
- url: https://user-api.quinyx.com/v2
  description: Production API
- url: https://user-api-rc.quinyx.com/v2
  description: RC API
tags:
- name: Leave Reasons
paths:
  /users/leave-reasons:
    get:
      tags:
      - Leave Reasons
      summary: Returns list of leave reasons
      operationId: e5fd7d826054be45710680505ab8c092
      responses:
        '200':
          description: Leave reason list
          content:
            application/json:
              schema:
                properties:
                  leaveReasons:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeaveReason'
                type: object
      security:
      - BearerAuth: []
      x-audience: public
components:
  schemas:
    LeaveReason:
      description: Leave Reason Model
      properties:
        id:
          type: string
          example: I2WBgosnFVE_8v58HOxF1.ARrDgOqLcihwZAkPusTGU-
        name:
          type: string
          example: Sick leave
      type: object
  securitySchemes:
    BearerAuth:
      type: apiKey
      in: header
      name: Authorization
